th {
   background: #eee;
   text-align: center;
}
table.dat1{
   width: 100%;
}
.dat1 td{
   height: min-content;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    padding: 0.3em;
    caption-side: bottom;
}
.dat1 td{
   height: min-content;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    padding: 0.3em;
    caption-side: bottom;
}
.dat1 th:nth-child(2){
   width: 150px;
}
.dat1 th:nth-child(3){
   width: 100px;
}
.dat1 th:nth-child(6){
   width: 150px;
}
.dat1 th:nth-child(7){
   width: 150px;
}
.dat1 tr:nth-child(3)  {
   border: 1px solid #000;
}
table.dat2{
   margin-top: 10px;
   width: 60%;
 
}
.dat2 td{
   height: min-content;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    padding: 0.3em;
    caption-side: bottom;
}
.dat2 td{
   height: min-content;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    padding: 0.3em;
    caption-side: bottom;
}