table {
    width: 100%;
    border-collapse: collapse;	
}
 th, td {
    width: 10%;
    text-align: left;
    vertical-align: top;
    border: 2px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
 th {
    background: #eee;
 }